{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "react-html-attrs",
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}