<!DOCTYPE html>
<html>
<head>
  <% include ./../../common/header.ejs %>
</head>

<body>
  <% include ./../../common/nav.ejs %>

  <div>This is admin page</div>

<% include ./../../common/footer.ejs %>
</body>
</html>
